<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addCourse.css">
    <title>Add Course page</title>
</head>

<body>
    <!--Display navigation bar-->
    <%- include("partials/navbar.ejs") %>

        <!-- Search Modal -->
        <div class="modal_search" id="search">
            <a href="#" class="close_search"></a>
            <div class="search_body">
                <input class="search_button" type="text" placeholder="Search" name="search">
            </div>
        </div>
        <!--End of navigation bar-->

        <!-- page title -->
        <div class="PageTitle">
            <h1>Course Update</h1>
            <hr>
        </div>


        <!-- Start of main content -->
        <div class="mainContent">
            <div class="ProfileSection">
                <% if (teachers) { %>
                    <img src="<%= teachers.picture %>" alt="<%= teachers.firstName %> Profile picture">
                    <div class="InstructorName">
                        <h2 id="InstructorName">
                            <%= teachers.firstName %>
                                <%= teachers.lastName %>
                        </h2>
                        <p id="Role">Instructor</p>
                    </div>
                    <% } else { %>
                        <p>Teacher information is not available.</p>
                        <% } %>
            </div>
            <div class="addCourseForm">
                <form action="/addCourse" method="POST" enctype="multipart/form-data" id="addCourse">
                    <label for="courseName">Course Name:</label>
                    <input type="text" id="courseName" name="name" required>
                    <br>
                
                    <label for="Price">Price:</label>
                    <span class="dollarSign">$<input type="number" id="Price" name="price" required></span>
                    <br>
                
                    <label for="coursePicture">Course Image:</label>
                    <input type="file" id="coursePicture" name="picture" accept="image/*" required>
                    <br>
                
                    <label for="Date">Date Start:</label>
                    <input type="date" id="DateStart" name="dateStart" required>
                
                    <label for="Description">Description:</label><br>
                    <textarea id="Description" name="description" cols="50" rows="10"
                        placeholder="write description here..." required></textarea>
                    <br>
                
                    <button type="reset" class="reset">Reset</button>
                    <button type="submit" class="submit">Submit</button>
                </form>
            </div>

        </div>
        <!-- End of main content -->
        <!-- Display footer -->
        <%- include("partials/footer.ejs") %>
            <script src="/public/JS/addCourse.js">
            </script>
</body>

</html>